Source: rrun
Section: utils
Priority: optional
Maintainer: Sebastian Schulze <me@bstr.eu>
Build-Depends: rustc, cargo, debhelper (>= 9), libgtk-3-dev (>= 3.14), git, curl, sudo, bash (>= 4.3), ca-certificates, sed (>= 4.2.2), tar (>= 1.2.7)
Standards-Version: 3.9.5
Homepage: https://github.com/buster/rrun
Vcs-Git: https://github.com/buster/rrun.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/rrun.git;a=summary

Package: rrun
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, bash (>= 4.3), libgtk-3-0 (>= 3.14), bash-completion
Description: minimalistic command launcher in rust similar to gmrun
 Press Ctrl + Return to display output in window,
 else rrun will close after execution.
 Will append to ~/.bash_history.
